@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Tapestry&family=Whisper&display=swap'),

.tapestry-regular {
  font-family: "Tapestry", serif;
  font-weight: 400;
  font-style: normal;
  transform:  skew(-6deg);
}
